<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: {{ site.data.style.[page.style].nav-colour }}">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/index.html">
      <img src="{{ '/assets/img/IMPERIAL_logo_RGB_White_2024.svg' | relative_url }}" alt="Imperial College London" style="height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto text-uppercase">
        {%- for link in site.data.navigation[site.locale].nav -%}
        {%- if link.dropdown -%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ forloop.index }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ link.title }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ forloop.index }}">
            {%- for item in link.dropdown -%}
            <a class="dropdown-item" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {%- endfor -%}
          </div>
        </li>
        {%- else -%}
        <li class="nav-item">
          {%- if link.url -%}
          <a class="nav-link" href="{{ link.url | relative_url }}">{{ link.title }}</a>
          {%- elsif link.section -%}
          <a class="nav-link" href="{{ site.baseurl }}/#{{ link.section }}">{{ link.title }}</a>
          {%- else -%}
          <a class="nav-link" href="#">{{ link.title }}</a>
          {%- endif -%}
        </li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->
