// Styling for the navbar
#mainNav {
  background-color: $gray-900;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }
  .navbar-brand {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    @include heading-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: $primary;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: white;
        @include heading-font;
        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s, background-color 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s, background-color 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s, background-color 0.3s;
    border: none;
    background-color: $gray-900;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #003e79;
      .navbar-brand {
        font-size: 1.5em;
        padding: 8px 0;
      }
    }
  }
}

// Dropdown menu styling
#mainNav {
  .dropdown-menu {
    background-color: $gray-900;
    border: none;
    border-radius: 0;
    margin-top: 0;
    .dropdown-item {
      color: white;
      font-size: 90%;
      font-weight: 400;
      letter-spacing: 1px;
      padding: 0.75rem 1.5rem;
      @include heading-font;
      &:hover,
      &:focus {
        background-color: darken($gray-900, 5%);
        color: $primary;
      }
    }
  }
  &.navbar-shrink .dropdown-menu {
    background-color: #003e79;
    .dropdown-item:hover,
    .dropdown-item:focus {
      background-color: darken(#003e79, 5%);
    }
  }
}

// Show dropdown on hover for desktop
@media(min-width:992px) {
  #mainNav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

@media(max-width:991px) {
  #mainNav .dropdown-menu {
    border: none;
    background-color: transparent;
    .dropdown-item {
      padding-left: 2rem;
    }
  }
}
