---
layout: default
---
{% include navheader.html %}

<div class="main-container container">
  <div class="row">
    <section class="col-sm-9">
      <a id="main content">
                {{ content }}
      </a>
    </section>
    <aside class="col-sm-3" role = "complementary">
      <a class="twitter-timeline" href="https://twitter.com/WouterBuytaert?ref_src=twsrc%5Etfw" data-tweet-limit="3">Tweets by Wouter Buytaert</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  
</a>
    </aside>
  </div>
</div>

